.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  height: calc(100% - 40px); /* Adjust the height to leave space for the header */
}

.blockly-container {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.map-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}

/* Adjust the header styles as needed */
.App-header {
  padding: 20px;
  background-color: #f0f0f0;
}
